<footer class="footer">
  {% if page.home != true %}
  <div class="related-pages">
    <a class="prev-page" href="{{ site.baseurl }}/">
      <svg><use href="#svg-arrow-right"></use></svg>
      <div class="page-info">
        <div class="title">Home</div>
      </div>
    </a>
  </div>
  {% endif %}
</footer>
